<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">
					All Posts
				</h1>
				<ol class="breadcrumb">
					<li>
						<i class="fa fa-dashboard"></i> <a href="/admin">Dashboard</a>
					</li>
					<li class="active">
						<a href="/admin/posts">Posts</a>
					</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->
		<div class="row" style="padding: 20px;">
			{{#if errMsg}}
			<div class="alert alert-danger" role="alert">
				{{ errMsg }}
			</div>
			{{/if}}
			{{#if doneMsg}}
			<div class="alert alert-success" role="alert">
				{{ doneMsg }}
			</div>
			{{/if}}
			{{#if posts}}
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Title</th>
						<th scope="col">Bio</th>
						<th scope="col">Author</th>
						<th scope="col">Options</th>
					</tr>
				</thead>
				<tbody>
					{{#each posts as |post key|}}
					<tr>
						<th scope="row">{{ post.dataValues.id }}</th>
						<td>{{ post.dataValues.title }}</td>
						<td>{{ post.dataValues.bio }}</td>
						<td>{{ post.dataValues.user }}</td>
						<td>
							<button
								type="button"
								class="btn btn-danger"
								onclick="confirmModal('deletePost{{
									post.id
								}}', 'Are you sure want to delete {{ post.title }}?', 2)"
							>
								DELETE
							</button>
						</td>
						<form
							action="/admin/posts/delete"
							method="POST"
							id="deletePost{{ post.id }}"
						>
							<input name="id" type="hidden" value="{{ post.id }}" />
						</form>
					</tr>
					{{/each}}
				</tbody>
			</table>
			{{else}}
			<h3>No posts found</h3>
			{{/if}}
		</div>
	</div>
	<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
